{% extends 'base.html.twig' %}

{% block body %}
    <h3>{% if contact is defined %}Edit contact{% else %}Add contact{% endif %}</h3>
    {{ form_start(form) }}
    <div>
        {{ form_errors(form) }}
    </div>
    <table>
        <tr>
            <td>{{ form_label(form.fullName) }}</td>
            <td>{{ form_widget(form.fullName) }}</td>
        </tr>
        <tr>
            <td>{{ form_label(form.telephone) }}</td>
            <td>{{ form_widget(form.telephone) }}</td>
        </tr>
        <tr>
            <td>{{ form_label(form.email) }}</td>
            <td>{{ form_widget(form.email) }}</td>
        </tr>
        <tr>
            <td>{{ form_label(form.note) }}</td>
            <td>{{ form_widget(form.note) }}</td>
        </tr>
        <tr>
            <td></td>
            <td>{{ form_widget(form.save) }}</td>
        </tr>
    </table>
    {{ form_end(form) }}
    {% if contact is defined %}
        <a href="{{ path('delete_contact', {'id': contact.id}) }}">Delete contact</a>
    {% endif %}
{% endblock %}
